.about {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 70px 70px;
    justify-items: center;
    row-gap: 60px;
}

.about img {
    width: 400px;
    height: auto;
}

.about .description {
    width: 400px;
    text-align: justify;
}

.description .head {
    color: rgb(27, 27, 27);
    font-size: 50px;
    font-weight: 500;
}

.description p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#chefs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    gap: 20px;
    margin: 0px 100px 80px 100px;
}    

.chef {
    height: 380px;
    width: 240px;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    filter: drop-shadow(5px 5px 3px black);
}

.chef img {
    height: 280px;
    width: 240px;
}

/****************************** Media Queries ****************************/

@media only screen and (max-width: 900px) {

.about img {
    width: 340px;
    height: auto;
}

}


@media only screen and (max-width: 600px) {
.about {
    margin: 70px 0px;
    padding: 0px;
    row-gap: 30px;
    justify-items: center;
}    
.about img {
    width: 260px;
    height: auto;
}
.about .description {
    text-align: justify;
    width: 300px;
}
.description .head {
    color: rgb(27, 27, 27);
    font-size: 40px;
    font-weight: 500;
}
#chefs {
    margin: 0px;
}
}

